@import "framework";

.container{
    @include container;
    margin-top: 70px;
}


.image{
    @include maxWidth(552px);
}

.title{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    line-height: 1.4;
    margin-top: 60px;
}

.content{
    font-size: 16px;
    margin-top: 54px;
    line-height: 1.4;
    @include maxWidth(667px);
}

@include media-min($rwd-pc-hd){

    .container{
        margin-top: 130px;
    }

    .title{
        font-size: 50px;
        margin-top: 78px;
    }

    .content{
        font-size: 18px;
        margin-top: 60px;
    }

}