@import "framework";

.container{
    margin-top: 60px;
    @include container;
}

@include media-min($rwd-pc-hd){

    .container{
        margin-top: 90px;
    }

    .container_inner{
        max-width: 335px;
        @include container-center;
    }

}