@import "framework";

.container{
    margin-top: 60px;
}

.banner1{
    max-width: 392px;
    margin: 0 auto;
    width: 75%;
}

.titile{
    font-size: 20px;
    margin-top: 10px;
}

.content{
    font-size: 16px;
    line-height: 1.4;
}

.banner2{
    margin-top: 36px;
    max-width: 574px;
    padding: 0 17px;
    @include container-center;
}

@include media-min($rwd-pc-hd){
    .container{
        margin-top: 120px;
    }

    .titile{
        font-size: 36px;
        margin-top: 14px;
    }

    .banner2{
        margin-top: 86px;
    }
}