@import './styles/framework';
@include removeRecommentDiv;

.App {
  box-sizing: border-box;
  text-align: center;
  line-height: 1;
  overflow: hidden;
  width: 100%;
  padding-bottom: 60px;
  @include container-full;
  & *{
      box-sizing: border-box;
  }
}

.landPg{
  @include container-center;
  max-width: 1170px;
}

.noMargin{
  margin: 0;
}

@include media-max($rwd-pc-hd){
  .App{
    padding-bottom: 100px;
  }
}